@font-face {
    font-family: estedad;
    src: url(../font/Estedad-v5.0-Fontjo.com/Estedad[wght\,kshd].woff2);
}
@font-face {
    font-family: vaziri;
    src: url(../font/vazir-font-v27.2.2-Fontjo.com/Farsi-Digits-Without-Latin/Vazir-Black-FD-WOL.woff2);
}
.bdr-form {
    border-radius: 10px;
    margin: 150px 300px;
    background-color: white;
    width: 1600px;
    height: 700px;
}
.inputsbox_1  select{
    font-size: 14px;
}



.form_1{
    margin-top: 20px;
    background-color: white;
    border-radius: 20px;
}
#sub-2{
    height: 40px;
    width: 150px;
}
.inputsbox_1 select{
    height: 35px;
}